# Set default behaviour, in case users don't have core.autocrlf set.
* text eol=lf
*.py text eol=lf
*.rst text eol=lf
windows* text eol=crlf

*.zip   binary
*.dmg   binary
*.tar.gz   binary
*.png   binary
*.ico   binary
*.icns  binary
*.qm    binary
