# Set default behaviour, in case users don't have core.autocrlf set.
* text=auto
* text eol=CRLF

*.py text eol=LF

# Binary Files
*.png binary
*.wav binary

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union
